.jumbotron {
    background-color: chartreuse;
    color: black;
    margin-top: 30px;

}

footer {
    padding: 10px 10px 0px 10px;
    background-color: chartreuse;
    margin-bottom: 0px;
    margin-top: 15px;

}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 15px;
}

.btn-link {
    color: black;
    font-style: italic;
}